{% extends 'shopapp/base.html' %}
{% load i18n %}

{% block title %}
    {% trans "Order list" %}
{% endblock %}

{% block body %}
    <h1>{% trans "Orders" %}:</h1>
    {% if object_list %}
        <div>
        {% for order in object_list %}
            <div>
                <p><a href="{% url 'shopapp:order_detail' pk=order.pk %}">{% trans "Details" %} #{{ order.pk }}</a></p>
                <p>{% trans "Order by" %} {% firstof order.user.first_name order.user.username %}</p>
                <p>{% trans "Promocode" %}: <code>{{ order.promocode }}</code></p>
                <p>{% trans "Delivery address" %}: {{ order.delivery_address }}</p>
                <div>
                    Products in order:
                </div>
                    <ul>
                        {% for product in order.products.all %}
                            <li>{{ product.name }} for {{ product.price }}</li>
                        {% endfor %}
                    </ul>
            </div>
        {% endfor %}
        </div>
    {% else %}
        <h3>{% trans "No orders yet" %}</h3>
    {% endif %}
    <div>
        <a href="{% url 'shopapp:order_create' %}">{% trans "Create a new order" %}</a>
    </div>
{% endblock %}
