{% extends 'shopapp/base.html' %}
{% load i18n %}

{% block title %}
    {% trans "Update Order" %}
{% endblock %}

{% block body %}
    <h1>{% trans "Update order" %}</h1>
    <div>
        <form method="post">
            {% csrf_token %}
                {{ form.as_p }}
            <button type="submit">{% trans "Update" %}</button>
        </form>
    </div>
    <div>
        <a href="{% url 'shopapp:order_detail' pk=object.pk %}">{% trans "Back to order" %} #{{ object.pk }}</a>
    </div>
{% endblock %}
