{% extends 'shopapp/base.html' %}

{% block title %}
Shop Index
{% endblock %}

{% block body %}
<h1>Hello Shop Index</h1>

<div>
    <ul>
        Call Right now:
        {% for name, price in products %}
            <li>{{ name|title }} for {{ price }} $</li>
        {% empty %}
            No products
        {% endfor %}
    </ul>
</div>

<div>
    <ul>
        Tomorrow:
        {% for name, price in products %}
            <li>{{ name|title }} for {{ price|add:"2" }} $</li>
        {% empty %}
            No products
        {% endfor %}
    </ul>
</div>

<div>
    Time running: {{ time_running|floatformat:"0" }} seconds
</div>

<div>
    {% lorem 3 p random %}
</div>

{% endblock %}
