{% extends 'shopapp/base.html' %}
{% load i18n %}

{% block title %}
    {% trans "Shop Index" %}
{% endblock %}

{% block body %}
<h1>{% trans "Hello Shop Index" %}</h1>

<div>
    <ul>
        {% trans "Call Right now" %}:
        {% for name, price in products %}
            <li>{{ name|title }} for {{ price }} $</li>
        {% empty %}
            {% trans "No products" %}
        {% endfor %}
    </ul>
</div>

<div>
    <ul>
        {% trans "Tomorrow" %}:
        {% for name, price in products %}
            <li>{{ name|title }} for {{ price|add:"2" }} $</li>
        {% empty %}
            {% trans "No products" %}
        {% endfor %}
    </ul>
</div>

<div>
    {% trans "Time running" %}: {{ time_running|floatformat:"0" }} {% trans "seconds" %}
</div>

<div>
    {% lorem 3 p random %}
</div>

{% endblock %}
