{% extends 'myauth/base.html' %}
{% load i18n %}
{% load cache %}

{% block title %}
    {% trans "About me" %}
{% endblock %}

{% block body %}
    <h1>{% trans "User info" %}</h1>
    {% if user.is_authenticated %}
        {% cache 60 userinfo user.username %}
        <h2>{% trans "Detail" %}</h2>
        {% if user.profile.avatar %}
            <img src="{{ user.profile.avatar.url }}" alt="{{ user.profile.avatar.name }}"/>
        {% else %}
            <div>{% trans "No images uploaded yet" %}</div>
        {% endif %}
        <p>{% trans "Username" %}: {{ user.username }}</p>
        <p>{% trans "First name" %}: {{ user.first_name }}</p>
        <p>{% trans "Last name" %}: {{ user.last_name }}</p>
        <p>{% trans "Email" %}: {{ user.email }}</p>
        <p>{% trans "Bio" %}: {{ user.profile.bio }}</p>
        {% endcache %}
        <div>
            <a href="{% url 'myauth:profiles-list' %}">{% trans "Profiles list" %}</a>
        </div>
        <div>
            <a href="{% url 'myauth:profile-update' pk=user.profile.pk %}">{% trans "Update profile" %}</a>
        </div>
    {% else %}
        <h2>{% trans "User is anonymous" %}</h2>
    {% endif %}
{% endblock %}
