{% extends 'myauth/base.html' %}
{% load i18n %}

{% block title %}
    {% trans "Profile Details" %}
{% endblock %}

{% block body %}
    <h1>{% trans "Profile info" %}</h1>
    {% if profile.avatar %}
        <img src="{{ profile.avatar.url }}" alt="{{ profile.avatar.name }}"/>
    {% else %}
        <div>{% trans "No images uploaded yet" %}</div>
    {% endif %}
    <p>{% trans "Username" %}: {{ profile.user.username }}</p>
    <p>{% trans "First name" %}: {{ profile.user.first_name }}</p>
    <p>{% trans "Last name" %}: {{ profile.user.last_name }}</p>
    <p>{% trans "Email" %}: {{ profile.user.email }}</p>
    <p>{% trans "Bio" %}: {{ profile.bio }}</p>
    <div>
        <a href="{% url 'myauth:profiles-list' %}">{% trans "Profiles list" %}</a>
    </div>
    {% if user.is_staff or user.profile.pk == profile.pk %}
        <div>
            <a href="{% url 'myauth:profile-update' pk=profile.pk %}">{% trans "Update profile" %}</a>
        </div>
    {% endif %}
{% endblock %}
