{% extends 'myauth/base.html' %}
{% load i18n %}

{% block title %}
    {% trans "Update Profile" %}
{% endblock %}

{% block body %}
    <h1>{% trans "Update profile" %}</h1>
    <div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
                {{ form.as_p }}
            <button type="submit">{% trans "Update" %}</button>
        </form>
    </div>
    <div>
        <a href="{% url 'myauth:profile-details' pk=profile.pk %}">{% trans "Back to profile" %}</a>
    </div>
{% endblock %}
