{% extends 'myauth/base.html' %}
{% load i18n %}

{% block title %}
    Article List
{% endblock %}

{% block body %}
    <h1>Articles:</h1>
    {% if object_list %}
        <div>
        {% for article in object_list %}
            <p>title: {{ article.title }}</p>
            <p>pub_date: {{ article.pub_date }}</p>
            <p>author: {{ article.author }}</p>
            <p>category: {{ article.category }}</p>
            <div>
                Tags in Article:
                <ul>
                    {% for tag in article.tags.all %}
                        <li>{{ tag.name }}</li>
                    {% endfor %}
                </ul>
            </div>
            <br>
        {% endfor %}
        </div>
    {% else %}
        <h3>{% trans "No articles yet" %}</h3>
    {% endif %}
{% endblock %}
