{% extends 'requestdataapp/base.html' %}
{% load i18n %}

{% block title %}
    {% trans "User BIO" %}
{% endblock %}

{% block body %}
    <h1>{% trans "User form" %}</h1>
    <div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">{% trans "Submit" %}</button>
        </form>
    </div>
    {% if request.POST %}
        <div>
            <h2>{% trans "Previous form data" %}:</h2>
            <table>
                <tr>
                    <td>{% trans "Full name" %}:</td>
                    <td>{{ request.POST.name }}</td>
                </tr>
                <tr>
                    <td>{% trans "Age" %}:</td>
                    <td>{{ request.POST.age }}</td>
                </tr>
                <tr>
                    <td>{% trans "Bio" %}:</td>
                    <td>
                        <p>{{ request.POST.bio|linebreaks }}</p>
                    </td>
                </tr>
            </table>
        </div>
    {% endif %}
{% endblock %}
