{% extends 'market/base.html' %}
{% load i18n %}

{% block title %}
    {% trans "About" %}
{% endblock %}

{% block body %}

    {% blocktranslate %}
        <h1>What is it N1.RU</h1>
        <p>N1.RU It is a modern aggregator where hundreds of thousands of users search and find real estate every day.
            Our clients get access to the largest database of verified ads, a convenient filter system,
            augmented reality, map search and detailed analysis of housing prices.
            All this makes real estate search a pleasure!</p>
    {% endblocktranslate %}
    <br>
    <a href="{% url "market:estates" %}">{% trans "List Of Estate for Sale" %}</a>
    <br>
    <a href="{% url "myauth:profiles" %}">{% trans "Contacts Sellers" %}</a>
    <br>
    <a href="{% url "app_news:news" %}">{% trans "News" %}</a>
    <br>
{% endblock %}
