{% extends 'market/base.html' %}
{% load i18n %}

{% block title %}
    {% trans "Estates list" %}
{% endblock %}

{% block body %}
    <a href="{% url "market:about" %}">{% trans "Home" %}</a>
    <h1>{% trans "Estate" %}:</h1>
    {% if estates %}
        <div>
        {% for estate in estates %}
            <h3>{% trans "Sell" %}:</h3>
            <p>{% trans "Type Estate" %}: {{ estate.estate_type }}</p>
            <p>{% trans "Count room" %}: {{ estate.room_count }}</p>
            <p>{% trans "Address" %}: {{ estate.address }}</p>
            <p>{% trans "Price" %}: {{ estate.price }}</p>
            <a href="{% url "myauth:profile-details" pk=estate.seller.profile.pk %}">
               <p>{% trans "seller" %}: {{ estate.seller.username }}</p>
            </a>
            <p>{% trans "Created at" %}: {{ estate.created_at }}</p>
        {% endfor %}
        </div>
    {% else %}
        <h3>{% trans "No estate yet" %}</h3>
    {% endif %}
{% endblock %}
